/* MOBILE */
@media (max-width: 768px) {

  header {
    display: none;
  }

  #apresentacao {
    text-align: left;
    margin-left: auto;
    margin-top: 90px;
    text-align: center;
  }

  #apresentacao h1 {
    font-size: 20px;
  }
  
  #apresentacao h2 {
    font-size: 35px;
  }
  
  #apresentacao h3 {
    margin-top: 30px;
    font-size: 20px;
  }
  
  #apresentacao p {
    margin-top: 5px;
    font-size: 13px;
  }

  #curriculo {
    padding: 0.8rem 2.5rem;
  }

  #projetos {
    margin-top: 200px;
  }

  #projetos h2 {
    font-size: 30px;
  }

  #projetos p {
    margin-top: auto;
    font-size: 15px;
  }

  .card {
    padding: 1rem;
    height: 500px;
  }

  .card h3 {
    font-size: 18px;
  }

  .card p {
    font-size: 14px;
  }

  .cards-container {
    flex-direction: row;
    justify-content: center;
  }

  .social-icons a img{
    width: 30px;        /* Faz a imagem preencher o container */
    height: 30px;      /* Define a altura fixa */
    object-fit: cover;  /* A imagem será redimensionada para cobrir completamente o container */
    margin: 0 10px;
  }

  footer p {
    font-size: 13px;
  }

  .menu {
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
  }
}

